table {
    width: 95%;
    border: 1px;
    border-color: darkgrey;
}

th {
    text-align: center;
    padding: 15px;
}

td {
    text-align: right;
    padding: 15px;
}

tr:nth-child(even) {
    background-color: darkgrey;
}

button {
    padding: 15px;
    color: white;
    font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: darkred;
    border: 1px;
    border-color: white;
    float: right;
}

h1 {
    padding: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}